.container {
  width: 732px;
  margin: auto;
  margin-top: 45px;
  display: flex;
  /* gap: 10px; */
  flex-direction: column;
  flex-wrap: nowrap;
}

.contenedorTemplate {
  position: absolute;
  display: flex;
  /* background-color: white; */
  margin: auto;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

.commentContainer {
  padding: 30px 20px 20px 30px;
  display: flex;
  border: solid 1px;
  border-radius: 10px;
  margin-top: 18px;
  height: 170px;
}

.scoreEdit {
  position: relative;
  width: 40px;
  height: 96px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: solid 1px;
  border-radius: 10px;
  margin-left: -6px;
  margin-top: -5px;
}

.scoreEditor button {
  font-size: 20;
}

.commentDetail {
  display: flex;
  margin-left: 12px;
  margin-top: -3px;
  flex-wrap: nowrap;
  flex-direction: column;
}

.commentHeader {
  display: flex;
  height: 32px;
  flex-direction: row;
  margin-left: 12px;
  margin-top: -3px;
  align-items: center;
  font-weight: 700;
  flex-wrap: nowrap;
  width: 100%;
}

.commentUserName {
  margin-left: 17px;
}

.commentCreatedAt {
  margin-left: 17px;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.iconPlus {
  position: relative;
  top: 6px;
}

.iconMinus {
  position: relative;
  top: 32px;
}

.scoreNumber {
  position: relative;
  top: 22px;
  display: flex;
  justify-content: center;
  width: 40px;
}

.commentEditReply {
  display: flex;
  margin-right: 18px;
  font-weight: 700;
}

.commentEdit {
  display: flex;
  gap: 6px;
}

.commentReply {
  display: flex;
  gap: 6px;
}

.commentContent {
  display: flex;
  margin-top: 16px;
  margin-left: 13px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin-right: 10px;
}

.containerReplys {
  display: flex;
}

.commentYou {
  margin-left: 10px;
  background-color: #5357b7;
  color: white;
  padding: 0 5px 0 5px;
}

.commentDelete {
  display: flex;
  color: red;
  gap: 10px;
  margin-right: 28px;
}

.lineReply {
  position: relative;
  height: 170px;
  width: 2px;
  background-color: black;
  margin-left: 44px;
  margin-right: 43px;
  margin-top: 18px;
}


.commentAddContainer {
  display: flex;
  padding: 30px 20px 20px 30px;
  display: flex;
  border: solid 1px;
  border-radius: 10px;
  margin-top: 18px;
  height: 150px;
}

.commentAddNew {
  display: flex;
  border: none 1px;
  border-radius: 10px;
  margin-top: -4px;
  margin-left: 15px;
  height: 92px;
  width: 510px;
  background-color: #5356b729;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 25px 12px 25px;
}



.commentAddButton{
  margin-left: 12px;
  width: 110px;
  border-radius: 10px;
  margin-top:-5px; 
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  
}