.container {
  width: 732px;
  margin: auto;
  margin-top: 45px;
  display: flex;
  /* gap: 10px; */
  flex-direction: column;
  flex-wrap: nowrap;
  
}

.contenedorTemplate {
  position: absolute;
  display: flex;
  /* background-color: white; */
  margin: auto;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

.blockContainer {
  margin-top: 18px;
}

.commentContainer {
  padding: 30px 20px 20px 30px;
  display: flex;
  
  border-radius: 10px;
  height: 170px;
  margin-top: 18px;
  background-color: var(--white);
}

.scoreEdit {
  position: relative;
  width: 40px;
  height: 96px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: var(--very-light-gray);
  border-radius: 10px;
  margin-left: -6px;
  margin-top: -5px;
}

.scoreEditor button {
  font-size: 20;
}

.commentDetail {
  display: flex;
  margin-left: 12px;
  margin-top: -3px;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}

.commentHeader {
  display: flex;
  height: 32px;
  flex-direction: row;
  margin-left: 12px;
  margin-top: -3px;
  align-items: center;
  font-weight: 700;
  flex-wrap: nowrap;
  width: 100%;
}

.commentUserName {
  margin-left: 17px;
}

.commentCreatedAt {
  margin-left: 17px;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.iconPlus {
  position: relative;
  top: 6px;
}

.iconMinus {
  position: relative;
  top: 32px;
}

.scoreNumber {
  position: relative;
  top: 22px;
  display: flex;
  justify-content: center;
  width: 40px;
  color: var(--moderate-blue);
}

.commentEditReply {
  display: flex;
  margin-right: 18px;
  font-weight: 700;
}

.commentEdit {
  display: flex;
  gap: 6px;
}

.commentReply {
  display: flex;
  gap: 6px;
}

.commentContent {
  display: flex;
  margin-top: 16px;
  margin-left: 13px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin-right: 10px;
}

.replyContainer {
  padding: 30px 20px 20px 30px;
  display: flex;
  
  border-radius: 10px;
  height: 170px;
  margin-top: 18px;
  background-color: var(--white);
}

.containerReplys {
  display: flex;
}

.commentYou {
  margin-left: 10px;
  background-color: var(--moderate-blue);
  color: white;
  padding: 0 5px 0 5px;
}

.commentDelete {
  display: flex;
  color: var(--soft-red);
  gap: 10px;
  margin-right: 28px;
}

.lineContainer {
  display: flex;
  
}

.separator{
  
}

.lineReply {
  position: relative;
  width: 0.1px;
  background-color: var(--light-grayish-blue);
  margin-left: 44px;
  margin-right: 43px;

}


.commentAddContainer {
padding: 30px 20px 20px 30px;
    display: flex;
    
    border-radius: 10px;
    height: 170px;
    margin-top: 18px;
    background-color: var(--white);
}

.commentAddNew {
  display: flex;
  border: none 1px;
  border-radius: 10px;
  margin-top: -4px;
  margin-left: 15px;
  height: 92px;
  width: 510px;
 border: 1px solid var(--light-grayish-blue);
  font-size: 16px;
  letter-spacing: 0.015em;
  padding: 12px 25px 12px 25px;
  font-family: 'Rubik', sans-serif;
}


.commentAddButton{
  margin-left: 12px;
  width: 110px;
  border-radius: 10px;
  margin-top:-5px; 
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--moderate-blue);
  color: var(--white);
  border: 0;
}